@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  html {
    @apply font-sans;
  }
  body {
    @apply bg-[#fcfbfc] overflow-x-hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black 
           bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 
           border border-slate-200 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-600 
           shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 
           hover:bg-blue-700 cursor-pointer;
  }
}
